@charset "UTF-8";
/* CSS Document */
body{
	word-break: break-all;
}
.container{
	position:relative;
}
ul{
	padding-left:15px;
}
.container{
	margin:30px auto;
}
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
.jumbotron{
	padding:30px 0;
	color:#ddd;
	text-shadow: 1px 1px 2px #222;
  background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #9ab1c7 0%, #1a242f 100%);
  background-image: radial-gradient(ellipse farthest-corner at center top, #9ab1c7 0%, #1a242f 100%);
}
.jumbotron form{
	text-shadow:none;
}
footer {
	background-color: #fafbfc;
	padding: 25px;
}
.maxwidth {
	max-width : 310px;
}
.button-2 {
	font-size: 16px;
	font-weight: 700;
	border: none;
}
.padding20 {
	padding : 10px;
}
.textbox {
	line-height: 24px;
}
.liststyle1 {
	margin: 0;
	list-style: none;
	margin-top: 10px;
	line-height: 28px;
	color: #309be8;
}
.row-1 .ser-col-4 {
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}
.row-1 .ser-col-4-l {
	border-bottom: solid 1px #ccc;
}
.row-2 .ser-col-4 {
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}
.row-2 .ser-col-4-l {
	border-bottom: solid 1px #ccc;
}
.row-3 .ser-col-4 {
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}
.row-3 .ser-col-4-l {
	border-bottom: solid 1px #ccc;
}
.row-4 .ser-col-4 {
	border-right: solid 1px #ccc;
}
 @media (max-width:768px) {
.ser-col-4-l {
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	border-left: solid 1px #ccc;
}
.ser-col-4 {
	border-left: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}
}
.ser-col {
	width: 100%;
	height: auto;
	text-align: center;
	padding: 20px 0;
	position: relative;
}
.icon-col {
	width: 80px;
	height: 80px;
	border-radius: 30%;
	border: solid 1px #494949;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
}
.icon-col i {
	font-size: 48px;
	padding-left: 1px;
}
ser-col .btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	color: red;
	background-image: none;
}
.ser-col h3 {
	color: #777;
	margin-bottom: 20px;
}
.ser-col p {
	color: #3e3b3b;
}
/*====== service 1 ====*/
.ser-1 .icon-col {
	border: solid 1px #494949;
}
.ser-1 .icon-col i,
.ser-1 .btn {
	color: #494949;
}
/*====== service 2 ====*/
.ser-2 .icon-col {
	border: solid 1px #59407f;
}
.ser-2 .icon-col i,
.ser-2 .btn {
	color: #59407f;
}
/*====== service 3 ====*/
.ser-3 .icon-col {
	border: solid 1px #205081;
}
.ser-3 .icon-col i,
.ser-3 .btn {
	color: #205081;
}
/*====== service 4 ====*/
.ser-4 .icon-col {
	border: solid 1px #3d8fc6;
}
.ser-4 .icon-col i,
.ser-4 .btn {
	color: #3d8fc6;
}
/*====== service 5 ====*/
.ser-5 .icon-col {
	border: solid 1px #f34f29;
}
.ser-5 .icon-col i,
.ser-5 .btn {
	color: #f34f29;
}
/*====== service 6 ====*/
.ser-6 .icon-col {
	border: solid 1px #e54d26;
}
.ser-6 .icon-col i,
.ser-6 .btn {
	color: #e54d26;
}
/*====== service 7 ====*/
.ser-7 .icon-col {
	border: solid 1px #f0db4f;
}
.ser-7 .icon-col i,
.ser-7 .btn {
	color: #f0db4f;
}
/*====== service 8 ====*/
.ser-8 .icon-col {
	border: solid 1px #0769ad;
}
.ser-8 .icon-col i,
.ser-8 .btn {
	color: #0769ad;
}
/*====== service 9 ====*/
.ser-9 .icon-col {
	border: solid 1px #000;
}
.ser-9 .icon-col i,
.ser-9 .btn {
	color: #000;
}
/*====== service 10 ====*/
.ser-10 .icon-col {
	border: solid 1px #00618a;
}
.ser-10 .icon-col i,
.ser-10 .btn {
	color: #00618a;
}
/*====== service 11 ====*/
.ser-11 .icon-col {
	border: solid 1px #6181b6;
}
.ser-11 .icon-col i,
.ser-11 .btn {
	color: #6181b6;
}
/*====== service 12 ====*/
.ser-12 .icon-col {
	border: solid 1px #dd4814;
}
.ser-12 .icon-col i,
.ser-12 .btn {
	color: #dd4814;
}


/* my_index */
#my_index .row-1 .ser-col-4 {
	border-bottom: none;
}
#my_index .row-1 .ser-col-4-l {
	border-bottom: none;
}

/* my_list */


/* my_page */
#my_page section {
	margin-bottom: 20px;
}
#my_page section .row {
	margin-bottom: 10px;
}


/* my_form */
